

.primary-color{
    color: #4e51fd;
}

.btn-sz-primary{
    width: 100%;
    color: white !important;
    background-color: #4e51fd;
}

.btn-sz-primary:hover{
    background-color: #3c3ff8;
}

.main-text{
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 3px;
}

.main-input{
    width: 80%;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #4e51fd !important;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;

}
.page{
    width: 600px;
    height: 300px;
    background-color: #7ef1c3eb;
    border-radius: 6px;
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}

.page img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.page h2{
font-size: 38px;
font-weight: 500;
margin: 30px 0 10px;

}
.page button {
width: 100%;
margin-top: 50px;
padding: 10px 0;
background: #6fd649;
color: #fff;
border: 0;
outline: none;
font-size: 18px;
border-radius: 4px;
cursor: pointer;
box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}



